POSTGRES_HOST="db-host"
POSTGRES_PORT=5432
POSTGRES_DB="nebus_db"
POSTGRES_USER="nebus"
POSTGRES_PASSWORD="nebus"

LOG_LEVEL="INFO"
LOG_FORMAT="%(asctime)s - %(name)s - %(levelname)s - %(message)s"
LOG_DATE_FORMAT="%Y-%m-%d %H:%M:%S"
LOG_PATH="./logs/app.log"